<a href="https://colab.research.google.com/github/rhmorenor/BigQuery/blob/master/Colab_y_BigQuery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Before you begin


1.   Use the [Cloud Resource Manager](https://console.cloud.google.com/cloud-resource-manager) to Create a Cloud Platform project if you do not already have one.
2.   [Enable billing](https://support.google.com/cloud/answer/6293499#enable-billing) for the project.
3.   [Enable BigQuery](https://console.cloud.google.com/flows/enableapi?apiid=bigquery) APIs for the project.

### Provide your credentials to the runtime

In [0]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

## Optional: Enable data table display

Colab includes the ``google.colab.data_table`` package that can be used to display large pandas dataframes as an interactive data table.
It can be enabled with:

In [0]:
%load_ext google.colab.data_table

If you would prefer to return to the classic Pandas dataframe display, you can disable this by running:
```python
%unload_ext google.colab.data_table
```

# Use BigQuery via magics

The `google.cloud.bigquery` library also includes a magic command which runs a query and either displays the result or saves it to a variable as a `DataFrame`.

In [0]:
# Display query output immediately

%%bigquery --project proyecto-rolando-moreno-245310
#standardSQL
# high quality abandoned carts
SELECT  
  #unique_session_id
  CONCAT(fullVisitorId,CAST(visitId AS STRING)) AS unique_session_id,
  sessionQualityDim,
  SUM(productRevenue) AS transaction_revenue,
  MAX(eCommerceAction_type) AS checkout_progress
FROM `data-to-insights.ecommerce.all_sessions` 
WHERE sessionQualityDim > 60 # high quality session
GROUP BY unique_session_id, sessionQualityDim
HAVING 
  checkout_progress = '3' # 3 = added to cart
  AND (transaction_revenue = 0 OR transaction_revenue IS NULL)

                 unique_session_id  ...  checkout_progress
0    45337161109873136511500934381  ...                  3
1    83549214769410985791501090124  ...                  3
2     2211967312254768141500736465  ...                  3
3    30790565307341189101499705638  ...                  3
4    78255396780582268821499909214  ...                  3
5    13157727866606061041500075077  ...                  3
6    58665185345571050781501092628  ...                  3
7    04377037653058494151499740317  ...                  3
8    33101235347256753141500061679  ...                  3
9    13710786877993729531501097438  ...                  3
10   00847201969417204971500911617  ...                  3
11   09718097560992764151499697728  ...                  3
12     752860838707943041501636898  ...                  3
13    7102244839548296351499238157  ...                  3
14   53305191350681146021500646480  ...                  3
15   94282726586441371641499490225  ...                  3
16   76999515136173511951501460368  ...                  3
17   62934984427716373561500078320  ...                  3
18    3303900938655825391501250786  ...                  3
19   47929221079327372131499290447  ...                  3
20   81494366599802271591500354469  ...                  3
21   55220208332271090361501024293  ...                  3
22   70670869857120104781499800190  ...                  3
23   78373151545328726151499289043  ...                  3
24    4814665172326263011499186288  ...                  3
25   29207545557447841401501287499  ...                  3
26   04158720481523060321500338528  ...                  3
27   42544838755857920561501003276  ...                  3
28   71782714115539999361501592064  ...                  3
29   17415462474929013711501444641  ...                  3
..                             ...  ...                ...
396  99018135615136369281500252227  ...                  3
397  96416902256689624411501603306  ...                  3
398  92506336863920686531500905434  ...                  3
399  10255991294783912181501110597  ...                  3
400  98618996647046744581499271662  ...                  3
401  58477714798399596171500158380  ...                  3
402  62368205555121186381501612135  ...                  3
403   3324943083878448311499844531  ...                  3
404  99427861779127253091500359363  ...                  3
405  46636241180076820211500325861  ...                  3
406   1992335154444956761499805528  ...                  3
407  39826115732749288071501283899  ...                  3
408  53453597328223425711499434552  ...                  3
409  99747908383296024461499298589  ...                  3
410  95485796762073226321500319111  ...                  3
411  12666710896791414161501563747  ...                  3
412  52006772924656781041501523680  ...                  3
413  90457521568899159711499650069  ...                  3
414  13249394436800723021501090784  ...                  3
415  07746061603011974391500110400  ...                  3
416  65791331857761211991499998821  ...                  3
417  51718546762456650351499450766  ...                  3
418   0739995180564456801500218821  ...                  3
419  20886260335329491931501267645  ...                  3
420  25666870388348253471499575821  ...                  3
421  29504288622304533651501285877  ...                  3
422  74066146785746721421501421700  ...                  3
423  11989375766121383521501005313  ...                  3
424   0827012720777338151500212519  ...                  3
425  77499247625140918541501524727  ...                  3

[426 rows x 4 columns]

In [0]:
# Save output in a variable `df`

%%bigquery --project proyecto-rolando-moreno-245310 df
#standardSQL
# high quality abandoned carts
SELECT  
  #unique_session_id
  CONCAT(fullVisitorId,CAST(visitId AS STRING)) AS unique_session_id,
  sessionQualityDim,
  SUM(productRevenue) AS transaction_revenue,
  MAX(eCommerceAction_type) AS checkout_progress
FROM `data-to-insights.ecommerce.all_sessions` 
WHERE sessionQualityDim > 60 # high quality session
GROUP BY unique_session_id, sessionQualityDim
HAVING 
  checkout_progress = '3' # 3 = added to cart
  AND (transaction_revenue = 0 OR transaction_revenue IS NULL)

In [0]:
df

                 unique_session_id  ...  checkout_progress
0    45337161109873136511500934381  ...                  3
1    83549214769410985791501090124  ...                  3
2     2211967312254768141500736465  ...                  3
3    30790565307341189101499705638  ...                  3
4    78255396780582268821499909214  ...                  3
5    13157727866606061041500075077  ...                  3
6    58665185345571050781501092628  ...                  3
7    04377037653058494151499740317  ...                  3
8    33101235347256753141500061679  ...                  3
9    13710786877993729531501097438  ...                  3
10   00847201969417204971500911617  ...                  3
11   09718097560992764151499697728  ...                  3
12     752860838707943041501636898  ...                  3
13    7102244839548296351499238157  ...                  3
14   53305191350681146021500646480  ...                  3
15   94282726586441371641499490225  ...                  3
16   76999515136173511951501460368  ...                  3
17   62934984427716373561500078320  ...                  3
18    3303900938655825391501250786  ...                  3
19   47929221079327372131499290447  ...                  3
20   81494366599802271591500354469  ...                  3
21   55220208332271090361501024293  ...                  3
22   70670869857120104781499800190  ...                  3
23   78373151545328726151499289043  ...                  3
24    4814665172326263011499186288  ...                  3
25   29207545557447841401501287499  ...                  3
26   04158720481523060321500338528  ...                  3
27   42544838755857920561501003276  ...                  3
28   71782714115539999361501592064  ...                  3
29   17415462474929013711501444641  ...                  3
..                             ...  ...                ...
396  99018135615136369281500252227  ...                  3
397  96416902256689624411501603306  ...                  3
398  92506336863920686531500905434  ...                  3
399  10255991294783912181501110597  ...                  3
400  98618996647046744581499271662  ...                  3
401  58477714798399596171500158380  ...                  3
402  62368205555121186381501612135  ...                  3
403   3324943083878448311499844531  ...                  3
404  99427861779127253091500359363  ...                  3
405  46636241180076820211500325861  ...                  3
406   1992335154444956761499805528  ...                  3
407  39826115732749288071501283899  ...                  3
408  53453597328223425711499434552  ...                  3
409  99747908383296024461499298589  ...                  3
410  95485796762073226321500319111  ...                  3
411  12666710896791414161501563747  ...                  3
412  52006772924656781041501523680  ...                  3
413  90457521568899159711499650069  ...                  3
414  13249394436800723021501090784  ...                  3
415  07746061603011974391500110400  ...                  3
416  65791331857761211991499998821  ...                  3
417  51718546762456650351499450766  ...                  3
418   0739995180564456801500218821  ...                  3
419  20886260335329491931501267645  ...                  3
420  25666870388348253471499575821  ...                  3
421  29504288622304533651501285877  ...                  3
422  74066146785746721421501421700  ...                  3
423  11989375766121383521501005313  ...                  3
424   0827012720777338151500212519  ...                  3
425  77499247625140918541501524727  ...                  3

[426 rows x 4 columns]

# Use BigQuery through google-cloud-bigquery

See [BigQuery documentation](https://cloud.google.com/bigquery/docs) and [library reference documentation](https://googlecloudplatform.github.io/google-cloud-python/latest/bigquery/usage.html).

The [GSOD sample table](https://bigquery.cloud.google.com/table/bigquery-public-data:samples.gsod) contains weather information collected by NOAA, such as precipitation amounts and wind speeds from late 1929 to early 2010.

### Declare the Cloud project ID which will be used throughout this notebook

In [0]:
project_id = 'proyecto-rolando-moreno-245310'

### Sample approximately 2000 random rows

In [0]:
from google.cloud import bigquery

client = bigquery.Client(project=project_id)


df = client.query('''
  #standardSQL
  # high quality abandoned carts
  SELECT  
    #unique_session_id
    CONCAT(fullVisitorId,CAST(visitId AS STRING)) AS unique_session_id,
    sessionQualityDim,
    SUM(productRevenue) AS transaction_revenue,
    MAX(eCommerceAction_type) AS checkout_progress
  FROM `data-to-insights.ecommerce.all_sessions` 
  WHERE sessionQualityDim > 60 # high quality session
  GROUP BY unique_session_id, sessionQualityDim
  HAVING 
    checkout_progress = '3' # 3 = added to cart
    AND (transaction_revenue = 0 OR transaction_revenue IS NULL)
''').to_dataframe()

print(df)

                 unique_session_id  ...  checkout_progress
0    45337161109873136511500934381  ...                  3
1    83549214769410985791501090124  ...                  3
2     2211967312254768141500736465  ...                  3
3    30790565307341189101499705638  ...                  3
4    78255396780582268821499909214  ...                  3
5    13157727866606061041500075077  ...                  3
6    58665185345571050781501092628  ...                  3
7    04377037653058494151499740317  ...                  3
8    33101235347256753141500061679  ...                  3
9    13710786877993729531501097438  ...                  3
10   00847201969417204971500911617  ...                  3
11   09718097560992764151499697728  ...                  3
12     752860838707943041501636898  ...                  3
13    7102244839548296351499238157  ...                  3
14   53305191350681146021500646480  ...                  3
15   94282726586441371641499490225  ...                  3
16   76999515136173511951501460368  ...                  3
17   62934984427716373561500078320  ...                  3
18    3303900938655825391501250786  ...                  3
19   47929221079327372131499290447  ...                  3
20   81494366599802271591500354469  ...                  3
21   55220208332271090361501024293  ...                  3
22   70670869857120104781499800190  ...                  3
23   78373151545328726151499289043  ...                  3
24    4814665172326263011499186288  ...                  3
25   29207545557447841401501287499  ...                  3
26   04158720481523060321500338528  ...                  3
27   42544838755857920561501003276  ...                  3
28   71782714115539999361501592064  ...                  3
29   17415462474929013711501444641  ...                  3
..                             ...  ...                ...
396  99018135615136369281500252227  ...                  3
397  96416902256689624411501603306  ...                  3
398  92506336863920686531500905434  ...                  3
399  10255991294783912181501110597  ...                  3
400  98618996647046744581499271662  ...                  3
401  58477714798399596171500158380  ...                  3
402  62368205555121186381501612135  ...                  3
403   3324943083878448311499844531  ...                  3
404  99427861779127253091500359363  ...                  3
405  46636241180076820211500325861  ...                  3
406  99747908383296024461499298589  ...                  3
407  95485796762073226321500319111  ...                  3
408  74066146785746721421501421700  ...                  3
409  51718546762456650351499450766  ...                  3
410  25666870388348253471499575821  ...                  3
411  20886260335329491931501267645  ...                  3
412  52006772924656781041501523680  ...                  3
413   0827012720777338151500212519  ...                  3
414  77499247625140918541501524727  ...                  3
415  53453597328223425711499434552  ...                  3
416  29504288622304533651501285877  ...                  3
417  11989375766121383521501005313  ...                  3
418  39826115732749288071501283899  ...                  3
419  07746061603011974391500110400  ...                  3
420  65791331857761211991499998821  ...                  3
421  12666710896791414161501563747  ...                  3
422   1992335154444956761499805528  ...                  3
423  13249394436800723021501090784  ...                  3
424  90457521568899159711499650069  ...                  3
425   0739995180564456801500218821  ...                  3

[426 rows x 4 columns]

In [0]:
from google.cloud import bigquery

client = bigquery.Client(project=project_id)

sample_count = 2000
row_count = client.query('''
  SELECT 
    COUNT(*) as total
  FROM `bigquery-public-data.samples.gsod`''').to_dataframe().total[0]

df = client.query('''
  SELECT
    *
  FROM
    `bigquery-public-data.samples.gsod`
  WHERE RAND() < %d/%d
''' % (sample_count, row_count)).to_dataframe()

print('Full dataset has %d rows' % row_count)

Full dataset has 114420316 rows

### Describe the sampled data

In [0]:
df.describe()

       station_number   wban_number  ...  total_precipitation  snow_depth
count     2080.000000   2080.000000  ...          1903.000000  109.000000
mean    508202.589423  90421.671635  ...             0.063290   11.672477
std     299615.696120  26459.654948  ...             0.233675   13.323885
min      10250.000000     73.000000  ...             0.000000    0.400000
25%     239867.500000  99999.000000  ...             0.000000    2.800000
50%     544415.000000  99999.000000  ...             0.000000    7.900000
75%     725114.750000  99999.000000  ...             0.020000   14.600000
max     999999.000000  99999.000000  ...             4.210000   64.599998

[8 rows x 22 columns]

### View the first 10 rows

In [0]:
df.head(10)

   station_number  wban_number  year  month  ...   snow   hail  thunder  tornado
0          637170        99999  1992     11  ...  False  False    False    False
1          948460        99999  1997      7  ...  False  False    False    False
2          725373        99999  1999     10  ...  False  False    False    False
3          475670        99999  2005      6  ...  False  False    False    False
4          556960        99999  1975      7  ...  False  False    False    False
5          942945        99999  1956      4  ...  False  False    False    False
6          488300        99999  1976      5  ...  False  False    False    False
7          246980        99999  1973      8  ...  False  False    False    False
8           43300        99999  1987      1  ...  False  False    False    False
9          230320        99999  2000      1  ...  False  False    False    False

[10 rows x 31 columns]

In [0]:
# 10 highest total_precipitation samples
df.sort_values('total_precipitation', ascending=False).head(10)[['station_number', 'year', 'month', 'day', 'total_precipitation']]

      station_number  year  month  day  total_precipitation
358           722400  1979      5   31                 4.21
505           239210  1961      9   12                 2.95
1176          616970  2006      9   18                 2.60
897           723300  2007     10   18                 2.32
1449          722320  1981      8   31                 2.20
1040          789460  1983      5   21                 1.85
1206          782240  1981      4   28                 1.69
945           166480  1981     10   27                 1.69
320           474180  2008      5    6                 1.65
725            13250  2002      2    2                 1.50

# Use BigQuery through pandas-gbq

The `pandas-gbq` library is a community led project by the pandas community. It covers basic functionality, such as writing a DataFrame to BigQuery and running a query, but as a third-party library it may not handle all BigQuery features or use cases.

[Pandas GBQ Documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_gbq.html)

In [0]:
import pandas as pd

sample_count = 2000
df = pd.io.gbq.read_gbq('''
  SELECT name, SUM(number) as count
  FROM `bigquery-public-data.usa_names.usa_1910_2013`
  WHERE state = 'TX'
  GROUP BY name
  ORDER BY count DESC
  LIMIT 100
''', project_id=project_id, dialect='standard')

df.head()

      name   count
0    James  272793
1     John  235139
2  Michael  225320
3   Robert  220399
4    David  219028